// ---------------------------------
// VARIABLES

// ---------------------------------
// VARIABLES: COLORS

// Colors: Brand
$brand-1: #3ABB8D; // Green
$brand-1-light: #75C8AA;
$brand-1-x-light: #C7E9DD;
$brand-2: #313C5A; // Blue: Dark
$brand-2-light: #41568C;

// Colors: Warm
$red-crimson: #D05858;

// Colors: Cool
$blue-aqua: #3E9CD0;

// Colors: Black, White, Gray Spectrum
$black: #000;
$gray-coal: #222;
$gray-lead: #666;
$gray-cement: #999;
$gray-titanium: #AAA;
$gray-cloud: #DADEE8;
$gray-mist: #F1F1F1;
$white: #FFF;

// Colors: Typography
$color-font: $gray-lead;
$color-link: $brand-1;
$color-link-hover: $brand-2-light;

// Colors: States
$color-focus: $brand-1-light;
$color-error: $red-crimson;
$color-success: $brand-1;
$color-info: $brand-2-light;
$color-disabled: $gray-mist;


// ---------------------------------
// VARIABLES: FONTS

// Font Families
$font-family-1: 'Nunito Sans', sans-serif;

// Fonts: Weights
$font-regular: 400;
$font-semi-bold: 600;
$font-bold: 700;

// Fonts: Line Height
$line-height: 1.5;

// Fonts: Sizes
$font-size: rem(14);
$font-size-sm: rem(12);
$font-size-xs: rem(10);
$font-size-lg: rem(16);

// Fonts: Headings: Sizes
$h1: rem(24);
$h2: rem(22);
$h3: rem(20);
$h4: rem(18);
$h5: rem(16);
$h6: rem(14);

// ---------------------------------
// VARIABLES: FONT ICONS

// Font Icons: Families
$font-family-icon: 'icomoon';

// Font Icons: Spacing: Left and Right
$icon-spacing: rem(5);
$icon-spacing-lg: ($icon-spacing * 2);

// Font Icons: Sizes
$icon-size-lg: rem(16);
$icon-size-xl: rem(18);
$icon-size-xxl: rem(24);

// ---------------------------------
// VARIABLES: SPACING
// Use for padding, margins, etc.

$spacing: rem(10);
$spacing-2: ($spacing * 2);
$spacing-3: ($spacing * 3);
$spacing-half: ($spacing / 2);

// ---------------------------------
// VARIABLES: TRANSITIONS

$transition-linear: all 0.2s linear;
$transition-ease-in: all 0.2s ease-in;

// ---------------------------------
// VARIABLES: MEDIA QUERIES

// Media Queries: Min-width
$media-lg: rem(1200);
$media-mid: rem(900);
$media-sm: rem(600);

// Media Queries: Max-width
$media-lg-max: (($media-lg) - rem(1));
$media-mid-max: (($media-mid) - rem(1));
$media-sm-max: (($media-sm) - rem(1));

// ---------------------------------
// VARIABLES: GRID

// Grid: Column Count
$grid-column-count: 12;

// Grid: Gutters
$grid-gutter: rem(7.5);
$grid-gutter-sm: ($grid-gutter / 2);
$grid-gutter-lg: ($grid-gutter * 2);
